.results {
    display: grid;
    column-gap: 1.4rem;
    row-gap: 1.4rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 25rem));
    margin-top: 2.5rem;
    justify-content: space-around;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 1rem;
    border-radius: .8rem;
    margin-right: .4rem;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 1rem;
    border: solid 1px var(--primary-color);
    background: #6b2ff7;
    color: white;
    border-radius: .8rem;
  }

  button:hover {
    background: #7940fd;
  }
  
  @media (min-width: 31rem) and (max-width: 48rem) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }