.listing {
    background: var(--accent-color);
    border-radius: 2rem;
    padding-bottom: 1.8rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.listing:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.listing-heading {
    color: var(--primary-color);
    padding: 1rem 2rem 0 1.2rem;
  }

.listing-photo {
    height: 15.6rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.8rem 1.8rem 0 0;
  }

.listing-location {
    padding: 0.6rem 1.2rem 1.2rem 1.2rem;
  }

.listing-location::before {
    content: url("/assets/location-pin.svg") / "";
  }
  
section.listing a {
    padding-left: 1.2rem;
    text-decoration: none;
    color: var(--primary-color);
  }

section.listing a::after {
    content: "\203A";
    margin-left: 0.3rem;
  }